body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

#contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-form {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.market {
  display: flex;
  flex-direction: row;
}

.create-order {
  flex-direction: column;
  display: flex;
}

.orderColumn {
  display: flex;
  flex-direction: row;
}

.tradeButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marketButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.orderList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buyOrderPrice {
  width: 130px;
  background-color: #FDF6F7;
  color: #0051C7;
  text-align: center;
  margin-right: 3px;
}

.buyOrderQuantity {
  width: 130px;
  background-color: #FDF6F7;
  color: #0051C7;
  text-align: center;
}

.sellOrderPrice {
  width: 130px;
  background-color: #F7FAFE;
  color: #0051C7;
  text-align: center;
  margin-right: 2px;
}

.sellOrderQuantity {
  width: 130px;
  background-color: #F7FAFE;
  color: #0051C7;
  text-align: center;
}

.orderBookInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myOrder {
  margin-left: 40px;
}

.myOrderInfo {
  background-color: antiquewhite;
  text-align: center;
  height: 80px;
  border-radius: 10px;
  font-size: 15px;
  
}

.myOrderTitle {
  background-color: aliceblue;
  text-align: center;
  width: 405px;
}

.totalOrderBox {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
}

.myOrderBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 5px;  
  width: 200px;
  
}


.mySellInfo {
  background-color: #709ee2;
  
}

.myBuyInfo {
  background-color: #f1cad0;
}